<!DOCTYPE html>
<html>
  <head>
    <title>Ejemplo de Rutas y Controladores</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <li></li>
    {{{body}}}
  </body>
</html>
